/* Utilities  */

.maintext {
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}
.text-logo2 {
  color: white;
  font-size: 55px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Section header_home */
.section_header_home {
  background-color: #899cc4;
  height: 100vh;
  position: relative;
}
.boottm{
bottom: 100px;
position: absolute;
color: white;
text-align: center;
text-transform: uppercase;
left: 40%;
}
.header_home {
  display: flex;
  align-items: start;
}

.header_home .box {
  flex: 1;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header_home .box:nth-of-type(1) {
  flex-grow: 2;
}

.header_home .box:nth-of-type(2) {
  flex-grow: 1;
}

/* Section developers */


@media (max-width:1288px) {
  .header_home {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .developers {
    flex-direction: column;
  }

  .section_container_buttons_developers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iconimg {
    display: none;
  }
}

.pfp {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.person {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  background-color: #899cc4;
  outline-width: 5px;
  outline-color: #83BDC0;
  outline-style: solid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.dev {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.CVBtn {
  position: absolute;
  bottom: 5px;
  height: 30px;
  width: 60px;
  background-color: #8bcb8f;
  color: #445c93;
  border-radius: 8px;
  border-color: #349370;
  border-style: solid;
  font-weight: 1000;
}

.CVBtn:hover {
  background-color: #349370;
}

.Ptext {
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
}

.NameTItle {
  /* change this to a class from global attribute */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.iconimg {
  width: 325;
  height: 325;
  border-radius: 25%;
}
