/* Colors */
/* Rainy theme 5 -Green Digitalization Course and Students Apps-:
Navbar (background): #445c93
Navbar (a hover): #466fa6
Navbar (logo): #568c63
Navbar (a menu): white
*/
/* Google fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Global attributes */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #445c93;
  line-height: 1.6;

}

body::-webkit-scrollbar {
  display: none;
}

h3 {
  font-weight: 600;
}

h2 {
  color: white;
}

p {
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}

.iconimg {
  width: 400px;
  height: 400px;
}

/* Local attributed css */
.container {
  margin: auto;
  max-width: 1320px;
}

.bottxt {
  font-weight: 400;
  line-height: 1.2;
  color: white;
}

/* Navbar  */
.section_carbon_app_navbar {
  background-color: #445c93;
  position: sticky;
  top: 0;
  z-index: 9001;
}

.carbon_app_navbar {
  display: flex;
  height: 70px;
  background-color: #445c93;
  padding: 0 0px;
}

.ulNavbar {
  list-style: none;
  font-size: 400;
  flex-direction: row;
}

.liNavbar {
  margin-top: 17px;
  align-items: flex-start;

}

.liNavbar2 {
  margin-top: 17px;
  align-items: flex-end;

}

.liNavbar3 {
  margin-top: 17px;
  align-items: flex-start;
  margin-right: 200px;
}

.clickablelink {
  color: #333;
  text-decoration: none;
}

.carbon_app_navbar a {
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 20px;
  text-decoration: none;
}

.carbon_app_navbar a:hover {
  border-bottom: white 4px solid;
}

.carbon_app_navbar ul {
  display: flex;
}

.carbon_app_navbar .logo {
  font-weight: 400;
}

.text-logo {
  color: #8bcb8f;
  font-size: 55px;
}

.logo {
  color: white;
  font-size: 30px;
}

/* Footer  */
.section_footer {
  background-color: #445c93;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  align-items: center;
  background-color: #445c93;
  padding: 0 0px;
}


/* Media query */
@media(max-width:1288px) {
  .carbon_app_navbar {
    height: 180px;
    flex-direction: column;
    text-align: center;
    height: fit-content;
  }

  .carbon_app_navbar a {
    font-size: 15px;
    padding: 5px 20px;
  }

  .carbon_app_navbar ul {
    display: flex;
    flex-direction: column;
  }

  .carbon_app_navbar a:hover {
    border-bottom: white 2px solid;
  }

  .liNavbar2 {
    align-items: flex-start;
  }

  .liNavbar3 {
    align-items: flex-start;
    margin-right: 0;
  }
}
