/*
General background color: #899cc4
Text-colour: #000000
Box-color: #8bcb8f
*/

/*color=dark*/
.register_section_css {
  display: flex;
  background: #899cc4;
}

.register_section_css .container {
  display: flex;
  background: #899cc4;

}

.register_section_css .container {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*color=dark*/
.register_section_css .container .box {
  flex: 1;
  outline-style: solid;
  outline-width: 4px;
  outline-color: #349370;
  background-color: #8bcb8f;
  border-radius: 15px;
  color: black;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: fit-content;
  max-width: 600px;
}

.Login_Register_Btn {
  padding: 5px 5px;
  margin: 5px;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 15px;
  background-color: #349370;
  outline: 3px solid #2a4359;
  outline-style: solid;
  border-style: none;
}

.Login_Register_Btn:hover {
  color: #fff;
  background-color: #2a4359;
  outline: 3px solid #2a4359;
  text-decoration: none;
}

.form-check {
  text-align: left;
}
