

/* Utilities  */
p {
    margin: 10px 0;
    font-size: 18px;
  }
  /* Section header_home */
  .section_header_home {
    background-color: #97D49B;
  }
  .header_home {
    display: flex;  
    align-items: start;
    background: #9fa7bf;
  }
  
  .header_home .box {
    flex: 1;
    background: #ECF87F;
    color: #97D49B;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align:center;
    align-items: center;
    justify-content: center;
  }
  .header_home .box:nth-of-type(1) {
    flex-grow:2;
  }
  .header_home .box:nth-of-type(2) {
    flex-grow:1;
  }
  .container_buttons_header_home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
  }
  .container_buttons_header_home a:hover {
    color: #77a8a8;
  }
  .container_buttons_header_home btn {
    width: 100px;
    height: 100px;
    background: #77a8a8;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  
  @media (max-width:768px) { 
    .header_home {
      flex-direction: column;
    }
  }

  /* Section developers */
.section_developers {
  background-color:#E4A58F;
}
.developers {
  display: flex;  
  align-items: start;
  background: #A6E2DC;
}
.developers .box {
  flex: 1;
  background: #97D49B;
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.developers .box:nth-of-type(1) {
  flex-grow:4;
}
.developers .box:nth-of-type(2) {
  flex-grow:4;
}
.developers .box:nth-of-type(3) {
  flex-grow:4;
}

.developers .box2 {
  flex: 1;
  background: #97D49B;
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.developers .box2:nth-of-type(4) {
  flex-grow:4;
}
.developers .box2:nth-of-type(5) {
  flex-grow:4;
}
.developers .box2:nth-of-type(6) {
  flex-grow:4;
 
}
.container_buttons_developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_developers {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #49736f;
  border: 2px solid  #c5c8d9;
}
.btn_developers:hover {
  color: #fff;
  background-color: #c5c8d9;
  border: 2px solid #c5c8d9;
  text-decoration: none;
}

