{% extends "layout.html" %}
{% block content %}




<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box">
        <h1 style="font-size:55px;"><span class="text-logo"> Home</span></h1>
        <p style="text-align:left;">
          <p style="color: black;">
            Enter our carbon emission calculator app - an innovative tool that allows you to calculate your carbon
            emissions in a quick and easy way. By simply inputting data about your daily habits and activities, you can
            get a comprehensive breakdown of your carbon emissions, as well as recommendations for reducing them. With
            this app, you can take control of your carbon footprint and make informed decisions about your lifestyle,
            helping to reduce your impact on the environment. Whether you're an individual looking to live a more
            sustainable lifestyle or a business looking to reduce your carbon footprint, this app can help you take
            meaningful steps towards a more sustainable future.
          </p>
        </p>
        <div class="container_buttons_header_home">
          <div class="btn">
            <a href="#" class="btn btn-primary btn-lg mr-2" , style="background-color:#007bff;">Register</a>
          </div>
          <div class="btn">
            <a href="#" class="btn btn-primary btn-lg mr-2" , style="background-color:#007bff;">Login</a>
          </div>
        </div>
      </div>
      <div class="box">
        <img src="static/hands-holding-circle-solid.svg" alt="" style="border-radius: 50%; width:400px;">
      </div>
    </div>

  </div>
</section>

<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"> Our Team</h1>
      <p>
        Out team consists of six hard working students
      </p>
    </div>

    <div class="developers">
      <div class="box">
        <img src="static/cutecat.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Nathan</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque
          dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia
          reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <div class="box">
        <img src="static/cutecat.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Sander</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque
          dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia
          reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <div class="box">
        <img src="static/cutecat.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Sondre</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque
          dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia
          reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
    </div>

    

    <div class="developers box2">
      <div class="developers" style="display:block;">

      <div class="box2">
        <img src="static/cutecat.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Sandra</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque
          dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia
          reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
        </div>
        <div class="box2">
        <img src="static/cutecat.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Rune</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque
          dolorem iste natus inventore perspiciatis vitae dolore animi
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      <div class="box2">
        <img src="static/cutecat.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Eilie Jack</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque
          dolorem iste natus inventore perspiciatis vitae dolore ani
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#" target="_blank">Curriculum</a>
        </div>
      </div>
      </div>
    
</section>

{% endblock content %}