{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box">

        <!-- Flash message, user created -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h1 style="font-size:55px;"><span class="text-logo"> Home</span></h1>
        <p style="text-align:left;">
          Welcome to our carbon app, please put some more text here we need to fill some space
        </p>
        <div class="container_buttons_links_header_home">
          <div class="btn">
            <a href="{{url_for('users.register')}}" class="btn btn-primary btn-lg mr-2" ,
              style="background-color:#007bff;">Register</a>
          </div>
          <div class="btn">
            <a href="{{url_for('users.login')}}" class="btn btn-primary btn-lg mr-2" ,
              style="background-color:#007bff;">Login</a>
          </div>
        </div>
      </div>
      <div class="box">
        <img class="iconimg" src="{{url_for('static', filename='home.gif')}}" />
      </div>
    </div>

  </div>
</section>

<!-- Developers -->
<div class="dev">

  <div class="person">
    <h2>Rune</h2>
    <img class="pfp" src="static/cookie.jpg" alt="Picture of Rune">

    <p class="Ptext">
      I take the bus a lot so i am kind of an expert in this field :)
    </p>
    <input class="butnnn" type="button" value="Credentials">
  </div>
  <div class="person">
    <h2>Nathan</h2>
    <img class="pfp" src="static/photo1.jpg" alt="Picture of Nathan">

    <p class="Ptext">
      Hello guys
    </p>
    <input class="butnnn" type="button" value="Credentials">
  </div>
  <div class="person">
    <h2>Eilie</h2>
    <img class="pfp" src="static/Eilie.png" alt="Picture of Eilie">

    <p class="Ptext">
      hei
    </p>
    <input class="butnnn" type="button" value="Credentials">
  </div>
  <div class="person">
    <h2>Sondre</h2>
    <img class="pfp" src="static/aa02.jpg" alt="Picture of Sondre">

    <p class="Ptext">
      Hei jeg heter sondre, Norgesmester i koding og studentassistent her på HVL uten meg sliter Mario noe
      jææææææævlig
    </p>
    <input type="button" class="butnnn" value="Credentials">
  </div>
  <div class="person">
    <h2>Sandra</h2>
    <div id="res"></div>
    <img class="pfp" src="static/sandra.jpg" alt="Picture of Sandra">

    <p class="Ptext">
      Hjelp
    </p>
    <input class="butnnn" type="button" value="Credentials">
  </div>
  <div class="person">
    <h2>Sander</h2>
    <img class="pfp" src="static/IMG_0468.jpg" alt="Picture of Sander">

    <p class="Ptext">
      Snasige saker mann
    </p>
    <input class="butnnn" type="button" value="Credentials">
  </div>

</div>
{% endblock content %}
