{% extends "layout.html" %}
{% block content %}


<section class="section_header_home">
  <div class="container">

    <div class="header_home">
      <div class="box">
        <h1 style="font-size:55px;">
          <h1 style="color: black;
          <span class=" text-logo"> What are we calculating? </span></h1>
          <p style="color: black;">

            Carbon emissions, also known as greenhouse gas emissions, refer to the release of carbon dioxide and other
            gases into the atmosphere, primarily as a result of human activities such as burning fossil fuels for
            energy, deforestation, and industrial processes (Osmanski, 2020). These emissions are a significant
            contributor to global climate change, which has far-reaching impacts on our planet, including rising sea
            levels, more frequent and severe weather events, and changes in ecosystems and agriculture. As the world
            becomes more industrialized and populations continue to grow, the need to address carbon emissions and
            mitigate their impact becomes increasingly urgent (NOAA, 2021), . Governments, businesses, and individuals
            around the world must be working to reduce emissions through a variety of strategies, including increasing
            the use of renewable energy, improving energy efficiency, and adopting low-carbon lifestyles.

            <br>
            <br>

          </p>



          <!-- Modal -->
          <section>
            <div class="container">
              <p style="color: black;">
                <h1>Modal</h1>
              </p>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Learn more
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">How to use the calculator</h5>
                    </div>
                    <div class="modal-body">
                      Find your way to the Carbon App. Plot your daily transport....
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it!</button>
                      <button type="button" class="btn btn-primary">Tell me more <svg xmlns="http://www.w3.org/2000/svg"
                          width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text"
                          viewBox="0 0 16 16">
                          <path
                            d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                          <path
                            d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                        </svg> </button>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
            </div>
          </section>

          <section>
            <section style="flex-direction: row;
  <section class=" section_header_home">
              <div class="container">

                <div class="header_home">
                  <div class="box">
                    <h1 style="font-size:40px;">
                      <h1 style="color: black;
            
            <span class=" text-logo"> Carbon emission by taking the bus <i class="fa-solid fa-bus"></i> </span></h1>
                      <p style="color: black;">

                        Bus....

                        <br>
                        <br>

                      </p>
            </section>

            <br>
            <br>


            <section class="section_header_home">
              <div class="container">

                <div class="header_home">
                  <div class="box">
                    <h1 style="font-size:40px;">
                      <h1 style="color: black;
                  
                  <span class=" text-logo"> Carbon emission by driving your car <i class="fa-solid fa-car"></i>

                        </span></h1>
                      <p style="color: black;">

                        Car....

                        <br>
                        <br>

            </section>

            </p>

            <br>
            <br>

            <section class="section_header_home">
              <div class="container">

                <div class="header_home">
                  <div class="box">
                    <h1 style="font-size:40px;">
                      <h1 style="color: black;
                          
                          <span class=" text-logo"> Carbon emission by taking the train <i
                          class="fa-solid fa-train"></i>

                        </span></h1>
                      <p style="color: black;">

                        Train....

                        <br>
                        <br>

                      </p>


                      {% endblock content %}
